body {
    background-color: white;
    margin: 0;
    padding: 0;
}

#centeredContent {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;

}


.errorMessage {
    font-weight: bold;
    color: red;
}

table, th, td {
    border: 1px solid black;
}

.flashMessage {
    background-color: green;
    font-weight: bold;
}
