{% extends "admin/master.html.twig" %}

{% block title %}Account list{% endblock %}

{% block content %}
    <h4>Client name: {{client.name}}</h4>
    <table>
        <tr><th>#</th><th>Client Id</th><th>Account type</th><th>Date opened</th><th>Balance</th><th>Interest rate</th><th>Actions</th></tr>
    {% for a in accountsList %}
        <tr><td>{{a.id}}</td><td>{{a.clientId}}</td><td>{{a.accountType}}</td><td>{{a.dateOpened}}</td><td>{{a.balance}}</td><td>{{a.interestRate}}</td>
        <td><a href="/admin/transactions/list/{{a.id}}">Details</a></td></tr>
    {% endfor %}
    </table>
    <p><a href="/admin/accounts/create/{{client.id}}">Add new account</a></p>
{% endblock %}