{% extends "admin/master.html.twig" %}

{% block title %}Create account{% endblock %}

{% block content %}

{% if errorList %}
    <ul>
    {% for error in errorList %}
        <li class="errorMessage">{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}

<h4>Client name: {{client.name}} </h4>
<form method="post">
    Select account type :<select id="accountType" name="accountType">        
        <option value="savings">Savings</option>
        <option value="checking">Checking</option>
        <option value="investment">Investment</option>
    </select>
    <input type="submit" value="submit"><br>
</form>

{% endblock %}
