{% extends "admin/master.html.twig" %}

{% block title %}Client edit{% endblock %}

{% block content %}

{% if errorList %}
    <ul>
    {% for error in errorList %}
        <li class="errorMessage">{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}

<form method="post">
    Client Name:<input type="text" name="name" value="{{ v.name }}"><br>
    Client Address:<input type="text" name="address" value="{{ v.address }}"><br>
    Client Email:<input type="email" name="email" value="{{ v.email }}"><br>
    Client Phone No:<input type="text" name="phone" value="{{ v.phone }}"><br>
    CLient Date of Birth:<input type="date" name="dob" value="{{ v.dob }}"><br>    
    Client Password:<input type="password" name="password"><br>
    Repeat Password:<input type="password" name="password2"><br>    
    Is admin? <input type="checkbox" name="isAdmin" value="1" {% if v.isAdmin %}checked{% endif %}<br>    
    <input type="submit" value="submit"><br>
</form>

{% endblock %}