{% extends "admin/master.html.twig" %}

{% block title %}Client list{% endblock %}

{% block content %}
    <p><a href="/admin/clients/add">Register a new client</a></p>
    <table>
        <tr><th>#</th><th>Admin</th><th>Name</th><th>Address</th><th>Email</th><th>Phone</th><th>Date of birth</th><th>Actions</th></tr>
    {% for c in clientsList %}
        <tr><td>{{c.id}}</td><td>{% if c.isAdmin == 0 %} No{% else %} Yes{% endif %}</td><td>{{c.name}}</td><td>{{c.address}}</td><td>{{c.email}}</td><td>{{c.phone}}</td><td>{{c.dob}}</td>
        <td><a href="/admin/clients/edit/{{c.id}}">Edit</a> <a href="/admin/accounts/list/{{c.id}}">See accounts</a></td></tr>
    {% endfor %}
    </table>
{% endblock %}