<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css" integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles.css"/>
        <title>TMFinancial |
            {% block title %}Admin{% endblock %}
        </title>
        {% endblock %}
    </head>
    <body>
        {% block navbar %}

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                <h3 class="font-weight-bolder text-white">TM Financial
                </h3>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/clients/list">Client List
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">|Logout|
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                </ul>
            </div>
        </nav>

		{% endblock navbar %}
        <div id="centeredContent">
            {% if flashMessage %}<div class="flashMessage">{{flashMessage}}</div>{% endif %}

            {% block content %}
            
            {% endblock %}
        </div>
        <footer>
            <div class="footer-copyright text-center py-3 bg-dark text-white">© 2021 Copyright: <a class="text-white" href="index.html">TM Financial.com</a>
            </div>
        </div>         
    </body>
</html>