{% extends "admin/master.html.twig" %}

{% block title %}Transactions list{% endblock %}

{% block content %}

<h3>Client name: {{name}}</h3>
<h4>Account number: {{accountId}}</h4>
    <table>
        <tr><th>#</th><th>Date</th><th>Description</th><th>Debit</th><th>Credit</th></tr>
    {% for i in t %}
        <tr><td>{{i.id}}</td><td>{{i.transactionDate}}</td><td>{{i.description}}</td>
        {% if i.toAccount == accountId %}<td>{{i.amount}}</td>{% else %}<td></td>{% endif %}
        {% if i.fromAccount == accountId %}<td>{{i.amount}}</td>{% else %}<td></td>{% endif %}
    {% endfor %}
    </table>
{% endblock %}