{% extends "master.html.twig" %}

{% block title %}Open new account{% endblock %} 

{% block content %}

<p>Account opened successfully. <a href="/accountslist">Click to continue</a>. </p>

{% endblock content %}