{% extends "master.html.twig" %}

{% block title %}Open new account{% endblock %} 

{% block content %}

<h4>Client name: {{client.name}} </h4>
<form method="post">
    Select account type :<select id="accountType" name="accountType">        
        <option value="savings">Savings</option>
        <option value="checking">Checking</option>
        <option value="investment">Investment</option>
    </select>
    <input type="submit" value="submit"><br>
</form>

{% endblock content %}