{% extends "master.html.twig" %}

{% block title %}Deposit Cheque{% endblock %} 


{% block content  %}

    <h1>Deposit cheque</h1>


    {% if errorList %}  
        <ul>
        {% for error in errorList %}
            <li class="errorMessage">{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        Front Of cheque  : <input type="file" name="chqFront"/><br>
        Back of  cheque  : <input type="file" name="chqBack"/><br>
        Deposit Cheque to Account : <select id="toAccount"  name="toAccount">
            {% for i in a %}
            <option value="{{ i.id }}">{{i.id }} | {{i.accountType}} | {{i.balance}} </option>
            {% endfor %} </select></br>
        Amount : <input type="text" name="transferAmount"><br>        
                <input type="submit" value="Deposit">
    </form>    
        
{% endblock content %}