{% extends "master.html.twig" %}

{% block title %}Deposit cheque{% endblock %} 

{% block content %}

<p>Cheque Deposit done  successfully. <a href="/accountslist">Click to continue</a>. </p>

{% endblock content %}