{% extends "master.html.twig" %}

{% block title %}Page not found - 404{% endblock %} 

{% block content %}

<p>Content under construction, we apologize for any inconvenience. <a href="/">Click to continue</a>. </p>

{% endblock content %}