{% extends "master.html.twig" %}

{% block title %}Internal error{% endblock %} 

{% block content %}

<p>We're sorry, we encoutered an internal error. Our team of coding ninjas is already working on a solution.    
     <a href="index.html.twig">Click to continue</a>. </p>
     <img src="/images/ninja.png" width="100">

{% endblock content %}