{% extends "master.html.twig" %}

{% block title %}{% endblock %} 

{% block navbar %}

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">
			<h3 class="font-weight-bolder text-white">TM Financial
			</h3>
		</a>
	</nav>
{% endblock navbar %}


{% block content %}
 <div class="container-fluid no-padding">
            <div class="row">
                <div class="col-md-12">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="img-fluid" src="./images/3.jpg" alt="First slide">
                                <div class="carousel-caption d-block">
                                    <h4 class="h4"> Banking from anywhere is easy and convenient  </h4>                              
                                </div>                    
                            </div>
                            
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid text-center p-4 mb-3 bg-light text-uppercase">
            <small>
                <span class="btn-group ml-5">
                    <a class="btn btn-dark text-uppercase rounded-0 p-3" href="/login" role="button"> login </a>
                </span>
            </small>
            <small>
                <span class="btn-group ml-5">
                    <a class="btn btn-dark text-uppercase rounded-0 p-3" href="/newclient" role="button">Register</a>
                </span>
            </small>
        </div>

{% endblock content %}




                        