{% extends "master.html.twig" %}

{% block title %}List of Accounts{% endblock %} 

{% block content %}

<table>
    <tr><th>#</th><th>ClientId</th><th>AccountType</th><th>DateOpened</th><th>Balance</th><th>InterestRate</th><th>Info</th></tr>
    {% for a in list %}
        <tr>
            <td>{{a.id}}</td>
            <td>{{a.clientId}}</td>
            <td>{{a.accountType}}</td>
            <td>{{a.dateOpened}}</td>
            <td>{{a.balance}}</td>
            <td>{{a.interestRate}}</td>
            <td><a href="/translist/{{a.id}}">View details</a></td>
        </tr>
    {% endfor %}
</table>
<p><a href="/createaccount">Open a new account</a></p>

{% endblock content %}