{% extends "master.html.twig" %}

{% block title %}List of Transactions{% endblock %} 

{% block content %}
<p>Account number: {{accountId}}</p>
<table>
    <tr><th>#</th><th>Date</th><th>Description</th><th>Debit</th><th>Credit</th></tr>
    {% for a in list %}
        <tr>
            <td>{{a.id}}</td>
            <td>{{a.transactionDate}}</td>
            <td>{{a.description}}</td>
            {% if a.toAccount == accountId %}<td>{{a.amount}}</td>{% else %}<td></td>{% endif %}
            {% if a.fromAccount == accountId %}<td>{{a.amount}}</td>{% else %}<td></td>{% endif %}
        </tr>
    {% endfor %}
</table>

{% endblock content %}