{% extends "master.html.twig" %}

{% block title %}Login page{% endblock %} 

{% block navbar %}

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">
			<h3 class="font-weight-bolder text-white">TM Financial
			</h3>
		</a>
	</nav>
{% endblock navbar %}




{% block content %}
    <div id="centeredContent">
        <h1>Login</h1>

        {% if errorList %}
            <ul>
            {% for error in errorList %}
                <li class="errorMessage">{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <form method="post">
            User's Email: <input type="email" name="email" value="{{ v.email }}"><br>
            Password: <input type="password" name="password" value="{{ v.password }}"><br>
            <small>
                <span class="btn-group ml-5">
                    <input class="btn btn-dark text-uppercase rounded-0 p-3" type="submit" value="Login"><br>
                </span>
            </small>
            
        </form>

        <p><a href="newclient">Register here</a> to create a profile. </p>
    </div>
{% endblock content %}