{% extends "master.html.twig" %}

{% block title %}New Client{% endblock %} 

{% block content %}

 <div class="container-fluid text-center p-4 mb-3 bg-light text-uppercase">
    <small>
        <span class="btn-group ml-5">
            <a class="btn btn-dark text-uppercase rounded-0 p-3" href="/accountslist" role="button"> Click to view accounts </a>
        </span>
    </small>
    {% if isAdmin %}
    <small>
        <span class="btn-group ml-5">
            <a class="btn btn-dark text-uppercase rounded-0 p-3" href="/admin/clients/list" role="button">login as admin</a>
        </span>
    </small>
    {% endif %}
</div>

{% endblock content %}