{% extends "master.html.twig" %}

{% block title %}log Out
{% endblock %}

{% block navbar %}

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">
			<h3 class="font-weight-bolder text-white">TM Financial
			</h3>
		</a>
	</nav>
{% endblock navbar %}

{% block content %}
	<div id="centeredContent">
		<p>
			you have successfully logged Out .
		</p>
		<p>
			<a href="/login">Click to login</a>.
		</p>
	</div>

{% endblock content %}
