{% extends "master.html.twig" %}

{% block title %}New client Registration{% endblock %} 

{% block navbar %}

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">
			<h3 class="font-weight-bolder text-white">TM Financial
			</h3>
		</a>
	</nav>
{% endblock navbar %}

{% block content %} 

<h1>New Client</h1>

{% if errorList %}
    <ul>
    {% for error in errorList %}
        <li class="errorMessage">{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}

<form method="post">
    Name: <input type="text" name="name" value="{{ v.name }}"><br>
    Address: <input type="text" name="address" value="{{ v.address }}"><br>
    Email: <input type="email" name="email" value="{{ v.email }}"><br>
    Phone: <input type="text" name="phone" value="{{ v.phone }}"><br>
    Date Of Birth: <input type="date" name="dob" value="{{ v.clientDOB }}"><br>
    Password: <input type="password" name="password" value="{{ v.password }}"><br>
    Password: (repeat) <input type="password" name="password2" value="{{ v.password2 }}"><br>
    <input type="submit" value="Create profile">
</form>

{% endblock content %}


