{% extends "master.html.twig" %}

{% block title %}Bill Payments{% endblock %} 


{% block content  %}

    <h1>Bill Payments </h1>

    {% if errorList %}  
        <ul>
        {% for error in errorList %}
            <li class="errorMessage">{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        Paybill from  Account : <select id="fromAccount"  name="fromAccount"> 
            {% for i in f %}
            <option value="{{ i.id }}">{{i.id }} | {{i.accountType }} | {{i.balance }}</option>
            {% endfor %} </select></br>

        Pay Bills To : <select id="toExternal"  name="toExternal"> 
            {% for i in t %}
            <option value="{{ i.id }}">{{ i.name }} | {{i.referenceNo }}</option>
            
            {% endfor %} </select></br>
        Amount : <input type="text" name="payAmount"><br>
        
        <input type="submit" value="Pay bill">
    </form>

{% endblock content %}