{% extends "master.html.twig" %}

{% block title %}Bill Payments{% endblock %} 

{% block content %}

<p>Bill paid  successfully. <a href="/paybill">Click to continue</a>. </p>

{% endblock content %}