{% extends "master.html.twig" %}

{% block title %}Transfer{% endblock %} 


{% block content  %}

    <h1>Transfer Money</h1>

    {% if errorList %}  
        <ul>
        {% for error in errorList %}
            <li class="errorMessage">{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        Transfer Money from : <select id="fromAccount"  name="fromAccount"> 
            {% for i in f %}
            <option value="{{ i.id }}">{{i.id }} | {{i.accountType}} | {{i.balance}} </option>
            {% endfor %} </select></br>
        Transfer Money To : <select id="toAccount"  name="toAccount"> 
             {% for i in t %}
            <option value="{{ i.id }}">{{i.id }} | {{i.accountType}} | {{i.balance}}  </option>
             {% endfor %} </select></br>
        Amount : <input type="text" name="transferAmount" value="{{ v.transferAmount }}"><br>
        <input type="submit" value="Transfer">
    </form>

{% endblock content %}
