{% extends "master.html.twig" %}

{% block title %}Transfer Money{% endblock %} 

{% block content %}

<p>Transfer done  successfully. <a href="/accountslist">Click to continue</a>. </p>

{% endblock content %}